body {
    margin: auto;
    font-family: sans-serif;
    background-color:#ffb6c1;
    color: white;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}
img{
    height: 4cm;
    width: 4cm;
    }
main{
    max-width: 40%;
    margin: auto;
    text-align: center;
}
ul{
    text-align: center;
    background-color: lightskyblue;
    }
h1 {
    color:white;
    background-color:rgba(28, 230, 203, 0.8);
     text-align: center;
}
P{
    font-style:italic;
    background-color: lightskyblue;

}
